{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}
	- Images des utilisateurs
{% endblock %}

{% block body %}
	<h1>Users</h1>
	<div class="">
		{% for user in users %}
			{% if user.pictures %}
				<div>
					<h3>Images de
						{{user.pseudo ?? ""}}
					</h3>
					<div>
						<a class="link-secondary" href="{{path('users_show', {id: user.id} )}}">{{ user.pseudo ?? ""}}</a>
					</div>
					<ul class="">
						{% for picture in user.pictures %}
							<li>
								<figure class="img-container">
									<img src="{{picturesPath ?? ""}}{{picture.name ?? ""}}" alt=""/>
									<figcaption>{{picture.tag ?? ""}}</figcaption>
								</figure>
								<p>{{picture.description ?? ""}}</p>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
