{{form_start(form)}}
{{form_row(form.bio,{'attr':{'value':'{{app.user.bio}}','class':'w-50 custom-text-area', 'style': 'min-width:18rem'}})}}
{{form_row(form.Confirm)}}
{{form_end(form)}}
<div class="">
	<div class="">
		<a class="link-secondary" href="{{path('user_index')}}">Back</a>
	</divlass=>
</div>
