<div class="user-pictures my-4">
	<ul class="container-fluid row g-3 m-auto">
		{% for picture in pictures %}
			<li class="card col-lg-3 col-sm-6">
				<form method="POST">
					<div class="m-2">
						<h6 class="card-title">{{picture.tag}}</h6>
						<div class="img-container">
							<img class="img-fluid" src="{{ picture.name }}" alt="{{picture.tag}}"/>
						</div>
						<span>{{picture.description}}</span>
					</div>
					<input type="hidden" value="{{picture.id}}" name="pictureID">
					<button type="submit" class="btn btn-secondary">Supprimer</button>
				</form>
			</li>

		{% endfor %}
	</ul>
</div>
