<div class="user-pictures my-4">
	<ul class="list-unstyled row row-cols row-cols-lg-4 row-cols-md-2 g-2 g-lg-3">
		{% for picture in pictures %}
			<li class="col">
				<form class="card d-flex-column justify-content-between h-100" method="POST">
					<div class="mx-2">
						<h5 class="card-title tag">{{picture.tag}}</h5>
						<div class="img-container">
							<img class="img-fluid" src="{{asset('files/pictures/')}}{{ picture.name }}" alt="{{picture.tag}}"/>
						</div>
						<span>{{picture.description}}</span>
					</div>
					<input type="hidden" value="{{picture.id}}" name="pictureID">
					<button type="submit" class="btn btn-secondary w-50 align-self-center m-2">Supprimer</button>
				</form>
			</li>
		{% endfor %}
	</ul>
</div>
