<h1>Profil de
	{{loggedUser.pseudo ?? ""}}</h1>
<div>
	<div class="img-container">
		<img src="{{profilePicturePath ?? ""}}{{loggedUser.profile_pic ?? ""}}" alt="avatar de {{loggedUser.pseudo ?? " "}}">
	</div>
	<div>
		<h2>Biographie :</h2>
		<div>{{loggedUser.biography ?? ""}}</div>
	</div>
</div>
