{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}
	- Gallery
{% endblock %}

{% block body %}

	<section class="container text-center">
		<h1 class="my-5">Gallery</h1>
		<div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
			{% for picture in pictures %}
				<div class="col">
					<div class="card" style="width: 18rem">
						<img src="{{picturesPath ?? ""}}{{picture.name ?? ""}}" style="width: 18rem" alt="{{picture.tag ?? ""}}">
						<div class="card-body">
							<h5 class="card-title">{{picture.tag ?? ""}}</h5>
							<p class="card-text">{{picture.description ?? ""}}</p>
							{# <a href="#" class="btn btn-primary">Go somewhere</a> #}
						</div>
					</div>
				</div>
			{% endfor %}

		</div>


		{# Navigation entre les pages #}
		<div
			class="row">
			{# {% if pages > 1%} #}
			<nav aria-label="...">
				<ul class="pagination justify-content-center my-5">
					<li class="page-item disabled">
						<a class="page-link">Previous</a>
					</li>
					<li class="page-item">
						<a class="page-link" href={{path('gallery_index', {page: 1} )}}>1</a>
					</li>
					<li class="page-item active" aria-current="page">
						<a class="page-link" href={{path('gallery_index')}}>2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href={{path('gallery_index', {page: 3} )}}>3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href={{path('gallery_index')}}>Next</a>
					</li>
				</ul>
			</nav>
			{# {% endif %} #}
		</div>
	</section>
{% endblock %}
