{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}
	- Gallery
{% endblock %}

{% block body %}
	<h1>gallery</h1>
	<section class="">
		<div class="">
			{% for image in images %}
				<div class="">
					<div class="">
						<img src="{{picturesPath ?? ""}}{{image.name ?? ""}}" width="1800" height="1200" alt="{{image.tag ?? ""}}">
					</div>
					<div class="">
						<h3 class="">{{image.tag ?? ""}}</h3>
						<p>{{image.description ?? ""}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
