{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}
	- Gallery
{% endblock %}

{% block body %}

	<section class="container text-center">
		<h1 class="my-5 ">Gallery</h1>
		{# Navigation entre les pages #}
		<div class="row">
			{% if pages > 1 %}
				<nav aria-label="...">
					<ul class="pagination justify-content-center my-5">
						{% if (page > 1) %}
							<li class="page-item">
								<a class="page-link" href={{path('gallery_index',{page: (page - 1)} )}}>&lt;</a>
							</li>
						{% endif %}
						{% for currentPage in prevPages %}
							{% if currentPage > 0 %}
								<li class="page-item {{ (currentPage == page) ? 'active' : " " }}">
									<a class="page-link" href={{path('gallery_index', {page: currentPage} )}}>{{currentPage}}</a>
								</li>
							{% endif %}
						{% endfor %}
						{% for currentPage in nextPages %}
							{% if currentPage <= latest %}
								<li class="page-item {{ (currentPage == page) ? 'active' : " " }}">
									<a class="page-link" href={{path('gallery_index', {page: currentPage} )}}>{{currentPage}}</a>
								</li>
							{% endif %}
						{% endfor %}
						{% if (page < latest) %}
							<li class="page-item">
								<a class="page-link" href={{path('gallery_index', {page : (page + 1)} )}}>&gt;</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			{% endif %}
		</div>

		<div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
			{% for picture in pictures %}
				<div class="col">
					<div class="card" style="width: 18rem">
						<img src="{{asset('/files/pictures/')}}{{picture.name}}" style="width: 18rem" alt="{{picture.tag ?? ""}}">
						<div class="card-body">
							<h5 class="card-title">{{picture.tag ?? ""}}</h5>
							<p class="card-text">{{picture.description ?? ""}}</p>
							{# <a href="#" class="btn btn-primary">Go somewhere</a> #}
						</div>
					</div>
				</div>
			{% endfor %}

		</div>


	</section>
{% endblock %}
