{% extends 'base.html.twig' %}

{% block body %}
	<div class="w-100 text-center">
		<h1>Bienvenue sur ConvertIt!
			{% if app.user %}
				<img src="{{profilePicturePath ?? ''}}{{app.user.profilePicture ?? ''}}" alt="{{app.user.pseudo ?? ''}}" width='60' height='60' class="">
				{{app.user.pseudo ?? ''}}
			{% else %}
				<div>
					<h6>
						<a class='link-secondary' href="{{path('app_login')}}">Veuillez vous connecter ou vous incrire pour utiliser l'application</a>
					</h6>
				</div>
			{% endif %}
		</h1>
		<div class="w-75 d-flex justify-content-center text-start mx-auto">
			<section class="mx-4" style="min-width:18rem;">
				<div class="tex">
					<h2>Convertissez et partagez vos images</h2>
					<p>Ici, vous pourrez convertir vos images en png, jpg ou webp et les partager librement avec la communauté</p>
				</div>
				<div>
					<h1>convertir votre image</h1>
					{% if app.user %}
						<div>{% include "pages/home/_form.html.twig" %}</div>
					{% else %}
						<div>
							<h6>
								<a class='link-secondary' href="{{path('app_login')}}">Veuillez vous connecter ou vous incrire pour utiliser l'application</a>
							</h6>
						</div>
					{% endif %}
				</div>
			</section>
			<section class="w-50 bloc how mx-4  text-start">
				<h3>Comment Convertir</h3>
				<ul class="">
					<li>
						<div class="d-inline-flex">
							<p class="mx-2">1
								<div>Connectez vous pour convertir vos images preferées</div>
							</p>
						</div>
					</li>
					<li>
						<div class="d-inline-flex">
							<p class="mx-2">2
								<div>Remplissez tout les champs necessaires</div>
							</p>
						</div>
					</li>
					<li>
						<div class="d-inline-flex">
							<p class="mx-2">3
								<div>Cliquez sur Convert et consultez vos images</div>
							</p>
						</div>
					</li>
				</ul>
			</section>
		</div>
	</div>
{% endblock %}
