{% set pictures = app.user.pictures %}
{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- Profile de
	{{app.user.pseudo}}
{% endblock %}

{% block body %}
	<div class="w-75 container my-2" style='width:25rem'>
		<div class="card p-4">
			{% include "pages/user/Components/_showUser.html.twig" %}
			<div>
				<div>
					<div>
						<a class="link-secondary" href="{{path('user_editBio')}}">Edit Bio</class="link-secondary">
					</div>
					<div>
						<a class="link-secondary" href="{{path('user_editProfilePicture')}}">Edit profile picture</a>
					</div>
				</div>
				<div>
					<div>
						<a class="link-secondary" href="{{path('user_suspend')}}">Suspend</a>
					</div>
				</div>
			</div>
		</div>
		{% include "pages/user/Components/_showPictures.html.twig" %}
	</div>
{% endblock %}
