{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container-fluid w-25 my-5" style="min-width:18rem;">
		<h1>Register</h1>

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.pseudo) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="btn btn-secondary">Register</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
