<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
	<div class="container">
		<img src="{{ asset('build/images/logo.svg') }}" alt="" width="30">
		<a class="navbar-brand" href="{{path('home_index')}}">Convertit!</a>
		<button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavId">
			<ul class="navbar-nav me-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link active" href="{{path('users_index')}}" aria-current="page">Users
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('gallery_index')}}">Gallery</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('about_index')}}">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('contact_index')}}">Contact</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Connect</a>
					<div class="dropdown-menu" aria-labelledby="dropdownId">
						<a class="dropdown-item" href="{{path('register_index')}}">Register</a>
						<a class="dropdown-item" href="{{path('login_index')}}">Login</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
